* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: #000 url('img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 20px;
}

.btn {
	display: inline-block;
	color: #fff;
	background-color: #3fb573;
	font-size: 1em;
	text-align: center;
	padding: 10px 15px;
	border: 0;
	margin: 10px 0;
}

.buttons {
	text-align: center;
}

.buttons p {
	color: white;
	font-size: 1.5rem;
}

.buttons i {
	padding: 5px 15px;
	margin: 10px 0;
	background-color: #14a8c7;
	color: white;
	outline: 0;
	border: solid 4px #d1d94c;
	border-radius: 10px;
	margin: .75rem;
}

.buttons i:hover {
	cursor: pointer;
	opacity: .9;
	transition: opacity .25s ease-in-out;
}

header {
	height: 175px;
}

.center img {
	display: block;
	max-width: 100%;
	width: 500px;
	margin: auto auto;
}

.search {
	height: 75px;
}

input[type='text'] {
	display: block;
	padding: 10px;
	font-size: 20px;
	border: 0;
	border-radius: 5px;
	width: 60%;
	margin: auto;
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.card {
	cursor: pointer;
	background-color: transparent;
	height: 300px;
	perspective: 1000px;
}

.card h1 {
	font-size: 25px;
	border-bottom: 1px #fff solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border: #fff solid 1px;
	border-radius: 15px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.card:hover .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card-back {
	background-color: #333;
	color: white;
	padding: 20px;
	transform: rotateY(180deg);
	border: #fff solid 1px;
	border-radius: 15px;
}

.card li {
	list-style: none;
	padding-bottom: 10px;
}

@media (max-width: 800px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.cards {
		grid-template-columns: 1fr;
	}
}
